#header
header.main
	div.top
		a(href="/admin") Admin control page
		a(href="/") Xem website
	nav
		ul
			li
				a(href="/admin/news/list") Tin tức
				ul
					li
						a(href="/admin/news/add") Thêm mới tin tức
					li
						a(href="/admin/news/list") Danh sách tin tức
			li
				a(href="/admin/users/list") Thành viên
			li
				a(href="/admin/category/add") Danh mục
			li
				a(href="/admin/feedback") Góp ý